# Mongo DB CRUD operations using Python module - pymongo

(Part-1)
1.	Importing pymongo
2.	Making pymongo client
3.	Creating DB
4.	Creating Collection
5.	Inserting single document
6.	Inserting multi documents
7.	Reading single document
8.	Reading multiple documents
9.	Reading records with where condition such as and, or, limiting documents count.

(Part -2)
10.	Updating single document
11.	Updating multiple documents
12.	Updating document based on condition
13.	Deleting document
14.	Dropping collection
15.	Dropping database

## Reference: https://blog.codecentric.de/files/2012/12/MongoDB-CheatSheet-v1_0.pdf

In [1]:
!pip install pymongo

Requirement already satisfied: pymongo in /home/mukunthan/anaconda3/lib/python3.7/site-packages (3.10.1)

In [49]:
import pymongo

In [24]:
client=pymongo.MongoClient('localhost',27017)

In [52]:
sampleDB=client.sampleDB  #db is sampleDB

In [53]:
sampleDb_sampleCollection=sampleDB.sampleCollection  #collection is sampleCollection

In [54]:
data = [
   {"_id": "101", "name": "Ram", "age": "26", "city": "Hyderabad"},
   {"_id": "102", "name": "Rahim", "age": "27", "city": "Bangalore"},
   {"_id": "103", "name": "Daniel", "age": "28", "city": "Mumbai"},
   {"_id": "104", "name": "Sita", "age": "26", "city": "Hyderabad"},
   {"_id": "105", "name": "Parveen", "age": "27", "city": "Bangalore"},
   {"_id": "106", "name": "Rita", "age": "28", "city": "Mumbai"}
]

In [55]:
sampleDb_sampleCollection.insert_many(data)

# Updating single document

In [61]:
sampleDb_sampleCollection.update({"_id":"102"},{"$set":{"city":"Visakhapatnam"}})

/home/mukunthan/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: update is deprecated. Use replace_one, update_one or update_many instead.
  """Entry point for launching an IPython kernel.

{'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}

In [62]:
myquery = { "name": "Ram" }
newvalues = { "$set": { "city": "Mysore" } }

result=sampleDb_sampleCollection.update_one(myquery, newvalues)

In [63]:
result.matched_count, result.modified_count, result.raw_result

(1, 0, {'n': 1, 'nModified': 0, 'ok': 1.0, 'updatedExisting': True})

# Updating multiple documents

In [64]:
myquery = { "name": { "$regex": "^R" } }
newvalues = { "$set":  {"city": "Chennai" } }

x = sampleDb_sampleCollection.update_many(myquery, newvalues)

print(x.modified_count, "documents updated.")

3 documents updated.

# Deleting single document

In [65]:
myquery = { "name": "Ram" }

y=sampleDb_sampleCollection.delete_one(myquery)

In [66]:
y.deleted_count

1

# Deleting multiple documents

In [67]:
myquery = { "name": { "$regex": "^R" } }

x = sampleDb_sampleCollection.delete_many(myquery)

print(x.deleted_count, " documents deleted.")

#x = mycol.delete_many({})

2  documents deleted.

# Dropping collection

In [68]:
sampleDb_sampleCollection.drop()

# Dropping databse

In [69]:
client.drop_database('sampleDB')